<!doctype html>

<html lang="en">
  <head>
    <% include header.ejs %>
    <link type="text/css" rel="stylesheet" href="../assets/stylesheets/index.css">
  </head>

  <body>
    <% include footer.ejs %>
    <% include user-navigation.ejs %>

    <br>

    <% include site-navigation.ejs %>

    <div class="main">
      <p>Small time Memer but a full time student.<br>
        This site is for my ITIS 4166 project, but I decided that memes was an acceptable form of content that I could deliver through the site (I also had no idea for anything else that interested me that I could share).<br>
        This site's success directly affects my grade, therefore, I want this site to look appealing and decent and I want the site to succeed in delivering the content that I list on here.</p>
    </div>

  </body>
  </html>
