<footer><p>Fred's Meme Extravaganza; published: 2019</p>
<p><% if(session != null && session.theUser != null){  %>Welcome <%= session.theUser.firstName %> <%= session.theUser.lastName %><% }%></p></footer>
