<div class="sideNav">

  <h2><ul>
    <li><a href="/">Home</a></li>
    <li><a href="/catalog">Categories</a></li>
    <li><a href="#">Store</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul></h2>
</div>
