<!doctype html>

<html lang="en">
  <head>
    <% include header.ejs %>
    <link type="text/css" rel="stylesheet" href="../assets/stylesheets/index.css">
  </head>

  <body>
    <% include footer.ejs %>
    <% include user-navigation.ejs %>

    <br>

    <% include site-navigation.ejs %>

    <div class="main">
      <p>Any questions or comments should be sent to fyork@uncc.edu<br>
      I check that email very frequently and will most likely respond fairly quickly to any inquireis about the site.</p>
    </div>

  </body>
  </html>
