<!doctype html>

<html lang="en">
  <head>
    <% include header.ejs %>
    <link type="text/css" rel="stylesheet" href="../assets/stylesheets/index.css">
  </head>

  <body>
    <% include footer.ejs %>
    <% include user-navigation.ejs %>

    <br>

    <% include site-navigation.ejs %>

    <div class="main">
      <p>This page serves as a collection of my favorite memes for all to see and enjoy.<br>
        I included a cart on the page for you to "buy" memes that you like.<br>
        This is a way to support me for collecting such high value pieces of work for your enjoyment</p>
    </div>

  </body>
  </html>
