<% include ./includes/header.ejs %>
<% include ./includes/siteNavigation.ejs %>


<!-- start the middle column -->

<section>
        <h1>
                Welcome to Norm's Recipe Book!
            </h1>
        
            <p>
                We have everything that a new cook needs to get started, and for the experienced cook to keep on going.
            </p>
        
            <p> 
                Check out our new section on specialty recipes and cooking items!
            </p>
</section>

<!-- end the middle column -->

<% include ./includes/footer %>