<% include ./includes/header.ejs %>
<% include ./includes/siteNavigation.ejs %>


<!-- start the middle column -->

<section>
        <h1>
                Welcome to Fred's Meme Extravaganza!
            </h1>

            <p>
                Only the freshest memes allowed on here!
            </p>

            <p>
                Check out the selection of high quality memes!
            </p>
</section>

<!-- end the middle column -->

<% include ./includes/footer %>
