<aside id="sidebarA">
    <nav>
      <ul>
          <li><a class="current" href="/">
                  Home</a></li>
          <li><a href="/categories">
                  Catalog</a></li>
          <li><a href="">
                  About</a></li>
          <li><a href="">
                  Contact Us</a></li>
      </ul>
    </nav>
</aside>                  