<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Norm's Recipe Book</title>
    <link rel="stylesheet" href="/resources/main.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
</head>

<body>

    <header>
        <img src="/resources/images/logo.jpg" alt="Norm Logo" width="58">
        <h1>Norm's Recipe Book</h1>

        <%if (typeof theUser !== 'undefined'){ %>
        <h6 id="headerWelcome"> Welcome <%= theUser.firstName %>!</h6>
        <% } %>

    </header>
    <nav id="nav_bar">
        <ul>
            <li class='userNav'>
                <%if (typeof theUser != 'undefined'){ %>
                <a href="/profile?action=signout">Sign Out</a>
                <% } else {%>
                <a href="/profile">Sign In</a>
                <% } %>
            </li>
            <li class='userNav'>
                <a href="/profile"> My Items</a>
            </li>
            <li>
                <a href="">Cart</a>
            </li>
        </ul>
    </nav>